body {
  background-color: #d2d2d2;
}

header {
  padding: 1em;
  background-color: #efefef;
}

.navbar {
  margin-bottom: 0;
}

h1 {
  margin: 0;
}

.main {
  background-color: #efefef;
}

footer {
  padding: 1em;
}
